<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
  </head>
  <body>


    <div class="card" style="width: 99%;">
        <div class="card-body" style="margin-left: 30%;">
            <h1>Supere a I.A da TI (Jogo da velha)</h1>
        </div>
        <div class="card-body">  
            Vitórias:<div id="win"></div>Derrotas:<div id="defeat"></div>Empates:<div id="draw"></div>
            <div id="play" style="margin-left: 30%;">     
                <button id="row1" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(0)" class="btn btn-lg btn-primary" ></button>
                <button id="row2" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(1)" class="btn btn-lg btn-primary" ></button>
                <button id="row3" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(2)" class="btn btn-lg btn-primary" ></button>
            <br><button id="row4" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(3)" class="btn btn-lg btn-primary" ></button>
                <button id="row5" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(4)" class="btn btn-lg btn-primary" ></button>
                <button id="row6" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(5)" class="btn btn-lg btn-primary" ></button>
            <br><button id="row7" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(6)" class="btn btn-lg btn-primary" ></button>
                <button id="row8" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(7)" class="btn btn-lg btn-primary" ></button>
                <button id="row9" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(8)" class="btn btn-lg btn-primary" ></button>
            </div>    
        </div>
    <div>

    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script>
       local_state = 0;  
       my_state = 0
       function winx(row){
          if(play[row] == 0){
              play[row] = ' ';
              $('#'+row).attr("disabled", false);
          }else{
              $('#'+row).attr("disabled", true);
              if(play[row] == 1)
                play[row] = 'X';
              if(play[row] == 2)
                play[row] = 'O';              
          }   
          $('#'+row).html(play[row]);         
       }
       function send(action){ 
         $.post("/handle/"+action+"/"+local_state+"/"+my_state, function( data ) {
               play = JSON.parse(data);
               console.log(play);
               local_state = play.new_state;
               my_state    = play.my_state;
               win         = play.win;
               $('#win').html(play.win[1]);
               $('#defeat').html(play.win[2]);
               $('#draw').html(play.win[0]);

              for(let r in play) 
                if(r != 'win')winx(r)                                 
         });
       } 
    </script>
  </body>
</html>
