<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
  </head>
  <body>
  <style>
    #play{
       min-width: 500px;
    }
  </style>  
  <div class="container">  
    <div class="row">
        <div class="card-body" style="margin-left: 10%;">
            <h1>Supere a I.A da TI (Jogo da velha)</h1>
        </div>  
    </div> 
    <div class="row">  
        <div class="col col-lg-3" style="margin-top: 30px;"> 
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="col col-lg-1"></div>
                  <div id="ia" class="col col-lg-9"><b>I.A (Fácil)</b></div>
                </li>                
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="col col-lg-8">Vitórias</div>
                  <div class="col col-lg-3">
                      <span id="win0" class="badge badge-primary badge-pill" class="list-group-item"></span>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">                    
                    <div class="col col-lg-2">Derrotas</div>
                    <div class="col col-lg-6">
                        Fácil:<span id="defeat0" class="badge badge-primary badge-pill" class="list-group-item"></span>
                        Médio:<span id="defeat1" class="badge badge-primary badge-pill" class="list-group-item"></span>
                        Difícil:<span id="defeat2" class="badge badge-primary badge-pill" class="list-group-item"></span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">                    
                    <div class="col col-lg-8">Empates:</div>
                    <div class="col col-lg-3">
                        <span id="draw0" class="badge badge-primary badge-pill" class="list-group-item"></span>
                    </div>
                </li>  
                <button onclick="set_lvl(0)" style="font-size:12px; width: 60px;height: 40px;margin: 10px; padding:0px" type="button" class="btn btn-lg btn-primary" >Fácil</button>
                <button onclick="set_lvl(1)" style="font-size:12px; width: 60px;height: 40px;margin: 10px; padding:0px" type="button" class="btn btn-lg btn-primary" >Médio</button>
                <button onclick="set_lvl(2)" style="font-size:12px; width: 60px;height: 40px;margin: 10px; padding:0px" type="button" class="btn btn-lg btn-primary" >Dificíl</button>
       
        </div>
        <div class="col-sm"> 
              <div class="card-body">              
                  <div id="play">     
                      <button id="row1" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(0)" class="btn btn-lg btn-primary" ></button>
                      <button id="row2" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(1)" class="btn btn-lg btn-primary" ></button>
                      <button id="row3" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(2)" class="btn btn-lg btn-primary" ></button>
                  <br><button id="row4" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(3)" class="btn btn-lg btn-primary" ></button>
                      <button id="row5" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(4)" class="btn btn-lg btn-primary" ></button>
                      <button id="row6" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(5)" class="btn btn-lg btn-primary" ></button>
                  <br><button id="row7" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(6)" class="btn btn-lg btn-primary" ></button>
                      <button id="row8" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(7)" class="btn btn-lg btn-primary" ></button>
                      <button id="row9" style="width: 120px;height: 120px;margin: 10px;" type="button" onclick="send(8)" class="btn btn-lg btn-primary" ></button>
                  </div>    
              </div>
          <div>
    <div>
  <div>    
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/lib.js"></script>

    <!-- Central Modal Medium Success -->
    <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-lg modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading lead" id="player_win"></p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>

          <!--Body-->
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-9">           
                        <div id="play">     
                            <button id="win_row1" style="width: 80px;height: 80px;margin: 10px;" type="button" class="btn btn-lg btn-primary" ></button>
                            <button id="win_row2" style="width: 80px;height: 80px;margin: 10px;" type="button" class="btn btn-lg btn-primary" ></button>
                            <button id="win_row3" style="width: 80px;height: 80px;margin: 10px;" type="button" class="btn btn-lg btn-primary" ></button>
                        <br><button id="win_row4" style="width: 80px;height: 80px;margin: 10px;" type="button" class="btn btn-lg btn-primary" ></button>
                            <button id="win_row5" style="width: 80px;height: 80px;margin: 10px;" type="button" class="btn btn-lg btn-primary" ></button>
                            <button id="win_row6" style="width: 80px;height: 80px;margin: 10px;" type="button" class="btn btn-lg btn-primary" ></button>
                        <br><button id="win_row7" style="width: 80px;height: 80px;margin: 10px;" type="button" class="btn btn-lg btn-primary" ></button>
                            <button id="win_row8" style="width: 80px;height: 80px;margin: 10px;" type="button" class="btn btn-lg btn-primary" ></button>
                            <button id="win_row9" style="width: 80px;height: 80px;margin: 10px;" type="button" class="btn btn-lg btn-primary" ></button>
                        </div>    
                </div>
                <div class="col-md-3" id="review">                    
                </div>                  
              </div>  
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Nova Partida<i class="far fa-gem ml-1 text-white"></i></button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- Central Modal Medium Success-->    
  </body>
</html>
